<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.settingsnotification">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="Venit Zilnic"
        android:roundIcon="@mipmap/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ResultActivity"
            android:label="Total lunar"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".WorkDoneTodayActivity"
            android:label="Progresul de azi"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GraphicsActivity"
            android:label="Grafice"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:label="Statistici"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Setări"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditDayWork"
            android:label="Modifică progresul"
            android:screenOrientation="portrait"
            android:parentActivityName=".CalendarActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadcast" />
    </application>

</manifest>